@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/static/Montserrat-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/static/Montserrat-Bold.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/static/Montserrat-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}