<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Locality</mat-label>
    <input type="text" matInput [formControl]="localityControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLocality"
      (optionSelected)="localitySelected($event)">
      <mat-option *ngFor="let option of filteredLocalities | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<app-stations [localityId]="localityId" (setStationTrack)="setNewStationTrack($event)"></app-stations>