<p class="title">Create new route</p>
<div style="display: flex;gap: 100px; padding: 0px 40px;">
    <div>
        <div>
            <p>Train types:</p>
            <div class="train-types">
                <div *ngFor="let type of trainTypes">
                    <img [src]="type.imgUrl" (click)="setTrainType(type)" style="cursor: pointer;"
                        [class.active]="selectedType == type" alt="">
                </div>
            </div>
        </div>

        <div *ngIf="createRouteDto">
            <div *ngIf="selectedType">
                <label>Choose Train:</label>
                <div class="trains">
                    <div *ngFor="let train of trains">
                        <div (click)="selectTrain(train)">
                            {{train.number}}
                            <p [class.active]="train.id == createRouteDto.trainId"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; gap: 24px" *ngFor="let detail of createRouteDto.routeDetails; let i = index">
                <div>
                    <label class="form-label">{{coachTypes![i].name}}</label>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label class="form-label">Coaches amount</mat-label>
                        <input matInput type="number" [(ngModel)]="detail.coachesAmount">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <mat-label class="form-label">Price</mat-label>
                        <input matInput type="number" [(ngModel)]="detail.price">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <label class="form-label">Route number</label>
                <input type="text" [(ngModel)]="createRouteDto.number">
            </div>
            <div class="from_to">
                <div class="dropdown">
                    <p class="form-label">From:</p>
                    <app-localities class="child-station-dropdown"
                        (setStationTrack)="fromStationTrack($event)"></app-localities>
                </div>
                <div class="dropdown">
                    <p class="form-label">To:</p>
                    <app-localities class="child-station-dropdown"
                        (setStationTrack)="toStationTrack($event)"></app-localities>
                </div>
            </div>

            <div *ngIf="createRouteDto.departureTime">
                <label>Departure time:</label>
                <p>{{ createRouteDto.departureTime }}</p>
            </div>

            <div *ngIf="createRouteDto.arrivalTime">
                <label>Arrival time:</label>
                <p>{{ createRouteDto.arrivalTime }}</p>
            </div>

            <div *ngIf="createRouteDto.routeStops && createRouteDto.routeStops[0].departureTime
                && createRouteDto.routeStops[1].arrivalTime
                && createRouteDto.hours
                && createRouteDto.minutes">
                <label>Total time in the way:</label>
                <p *ngIf="createRouteDto.hours != 0">{{createRouteDto.hours}} h.</p>
                <p *ngIf="createRouteDto.minutes != 0">{{createRouteDto.minutes}} min.</p>
            </div>

            <div *ngIf="createRouteDto.distance && createRouteDto.distance > 0">
                <label>Distance:</label>
                <p>{{ createRouteDto.distance }}</p>
            </div>

            <div>
                <p>Add Schedule</p>
                <div *ngIf="createRouteDto.schedule">
                    <app-schedule (selectedFrequenciesChange)="setFrequencies($event)"
                        [inputFrequencies]="createRouteDto.schedule.frequencies"></app-schedule>
                </div>
            </div>


            <div>
                <label>Comment: </label>
                <textarea [(ngModel)]="createRouteDto.comment"></textarea>
            </div>


            <div style="display: flex; gap: 12px; margin: 20px 0px">
                <div (click)="showRouteStops()" style="cursor: pointer;">Add route stops</div>
                <!-- <div (click)="navigateToHome()" style="font-weight: bold;">Skip</div> -->
            </div>

            <button mat-flat-button color="primary" type="submit" (click)="createRoute()">Create</button>
        </div>


    </div>

    <div *ngIf="isRouteStops">
        <app-create-stops [stops]="createRouteDto.routeStops" (totalTimeInTheWay)="setTimeInTheWay($event)"
            (newArrivalTime)="setArrivalTime($event)" (newDepartureTime)="setDepartureTime($event)"
            (totalDistance)="setDistance($event)">

        </app-create-stops>
        <p (click)="isRouteStops = false" style="cursor: pointer;">Hide</p>
    </div>
</div>